
<div class="flex-container">
 
<div class="contenido d-flex justify-content-between" >

  <div class="empresa">
    <a><p><b>Nuestra Empresa</b></p></a>
    <a><p>¿Quienes somos?</p></a>
    <a><p>Trabaja con Nosotros</p></a>
    <a><p>¿Encuentra nuestra tienda?</p></a>

  </div>
  <div class="servicios">

    <a><p>Tipos de Entrega</p></a>
    <a><p>Talleres y formaciones</p></a>
    <a><p>Atencion personalizada</p></a>

  </div>
  <div class="ayuda">

    <a><p>Contacto</p></a>
    <a><p>Preguntas frecuentes</p></a>
    <a><p>Devoluciones</p></a>
    <a><p>Solicitar factura en la tienda</p></a>

  </div>
    
   <div class="text-center" id="icons">

    <p>Seguinos en redes Sociales</p>
        <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
            <span id="twitter"><i class="fab fa-twitter"></i></span>
        </a>

        <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
            <span id="instagram"><i class="fab fa-instagram"></i></span>
        </a>

        <a target="_blank" title="Facebook" href="https://www.facebook.com/Dulce-Alma-Deco-355907414565508" >
            <span id="facebook"><i class="fab fa-facebook"></i></span>
        </a>
  
   </div>

  </div>

   <div class="copyright">
    <section >Todos los derechos reservados <span class="small"><br><a>link a mi pagina</a>.</span>
    </section>
      
  </div>


  </div>




       
