


    <div class="flex-container">
    
        <div class="justificar d-flex" >

            <div class="copyright_hidden"> <a routerLink="../../ubicacion"><b>Contacto </b></a><br> <a href=""><b>Ofertas de la semana</b> </a> </div> 
            
            <div class="copyright"> Seguinos en redes Sociales!! <br>Todos los derechos reservados </div> 
              
                
             <div class="redes">

                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                    <span id="instagram"><i class="fab fa-instagram"></i></span>
                </a>

                <a target="_blank" title="Facebook" href="https://www.facebook.com/Dulce-Alma-Deco-355907414565508" >
                    <span id="facebook"><i class="fab fa-facebook"></i></span>
                </a>
            
              <div class="fb-like" data-href="https://www.facebook.com/ Dulce-Alma-Deco-355907414565508"data-layout="button" data-action="like" data-size="small" data-share="false">
                </div>     
          
          
            </div>
        </div>

    </div>




       
