

@font-face {
  font-family:'ribeye';
  src: url(/assets/font/Ribeye-Regular.ttf);
   
}

   
.flex-container{
  width:99% ;  
  background-image: linear-gradient(90deg, rgb(248, 148, 206),rgb(238, 177, 213));
  background-color: rgb(235, 166, 206);
  box-shadow: 5px 5px 20px rgb(170, 170, 170);
}
 /* -------------------------------------------@media query------------------------------------ */
 

 @media only screen and (max-width: 574px){
 
   
  .flex-container{
    
   
   
    margin-top: 1vw;
    padding: 1vw;
    font-size: 4vw;
    height: 15vw;
  

  }
  .justificar{
    justify-content: space-between;
  }

  span#instagram{
    font-size: 7vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
  }

  .copyright_hidden{
    display: none;
  }

  span#facebook{
    font-size: 6vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
 
  }
 .fb-like{
    font-size: 4vw;
 }
 
 }
 
 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 575px)and  (max-width: 768px) {
       

  .flex-container{

    margin-top: 1vw;
    padding: 1vw;
    font-size: 2.3vw;
  

}
.copyright_hidden{
  display: none;
}

.justificar{
  justify-content: space-between;
}

  span#instagram{
    font-size: 5vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
  }

  span#instagram:hover{
    color:rgb(238, 91, 226);
}

  span#facebook{
    font-size: 5vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
 
  }

  span#facebook:hover{
    color:rgb(238, 91, 226);
}





}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px)and (max-width: 1024px){

  .flex-container{

    margin-top: 1vw;
    padding: 1vw;
    font-size: 1.6vw;
  

}
.justificar{
  justify-content: space-around;
}

.icon .copyright {

    font-size: 1.6vw;
   
}
a{
  text-decoration: none;
}


  span#instagram{
    font-size: 2.7vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
  }

  span#instagram:hover{
    color:rgb(238, 91, 226);
}

  span#facebook{
    font-size: 2.7vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
 
  }

  span#facebook:hover{
    color:rgb(238, 91, 226);
}


  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) {


  .flex-container{
 
    margin-top: 1vw;
    padding: 1vw;
    font-size: 1.3vw;
  

}
  .justificar{
    justify-content: space-between;
  }

  a{
    text-decoration: none;
  }

  span#instagram{
    font-size: 2.7vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
  }

  span#instagram:hover{
    color:rgb(238, 91, 226);
}

  span#facebook{
    font-size: 2.7vw;
    color:rgb(110, 110, 108);
    margin: 1vw;
 
  }

  span#facebook:hover{
    color:rgb(238, 91, 226);
}



}




 
 
 
 