

<div class="container-fluid d-flex flex-column align-items-center">
    
  <div class="title">

      <h1>BIENVENID@S!!</h1>
      <p>
          En esta tienda web  encontraras un amplio surtido en articulos de madera, pinturas, stencils y mucho mas.... 
          Visita nuestro taller en el cual te mostraremos lo que hacen nuestras alumnas en el Taller de Arte, Seminarios y muchas cositas para ver. 
          Aprovecha nuestras ofertas semanales!!!
      </p>
  </div>
  
  <div>
  <img src="/assets/taza-bandeja-nombre.jpg" alt="taza">
  </div>  
</div>