
<h1 class="text-center">stencil</h1>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%"   fxLayoutAlign="center">
            
    <a   [routerLink]="['/verdetalle',i]" *ngFor = "let index of servstencil, index as i">
     
         <div fxFlex="8%">
              <h5 >{{index.nombre}}</h5> 
             <img  mat-card-image  [src]="index.img" alt="">
             <!-- <h4 >$ {{index.precio}}</h4> -->
         </div>
        </a>
         
     
     </div>
  
       
    
     
