

   <div class="flex-container">
       
       <div class="d-flex flex-row flex-wrap  align-items-center justify-content-around ">
            
          <div  class="text-center" *ngFor = "let producto of arrayProductos, index as i" >
 
         

             <img  [src]="producto.img" alt="producto" >
          
              
              
                 <h3 class="nombre text-dark" id='font'>{{producto.nombre}}</h3>
   
                   <span  id='font'>$ {{producto.precio}}</span>
                   
                 
                
                  <br>
            
              
              <div>
                 <a   [routerLink]="['/verdetalle',i]" >
                 <h3 class="vermas text-center text-white" id='font'>VER <b>MÁS </b> </h3> 
                 </a> 
                </div>
               
                <div>
                  <a  [routerLink] title="carrito"  (click)="addBook(producto);onCreate()" >
                   <span class="material-icons"  >  shopping_cart </span>
                </a> 
                 </div>
   
      </div>
     
     </div>
     
    </div>