/* 

 .vermas{
         
          max-width: 50%;
          background-color: coral;
        
          margin:auto;
           font-size: 30px; 
          line-height: 18px;
 }   

 .vermas:hover{

                background-color: rgb(243, 97, 39);
                max-width: 100%;
                font-weight: bold;
                 font-size: 15px; 
 }  */

 

  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 33px;  /* Preferred icon size */
  display: flex;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color:rgb(248, 141, 101);
  margin-right: 14px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover {
  color: rgb(255, 93, 35);
  
  margin-left: 1px;

}

 /* a{
      text-decoration: none;
 } */




  @font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }

  #font{
    font-family:'ribeye';
    font-size: 2.7vh;
  }

  /* img{

    width: 23vw;
  
   } */

 
  /* img:hover {
           
               margin-top: 10px; 
              box-shadow: 5px 5px 10px rgb(100, 97, 97);

}  */





/* .container { */
  /* width: 200px;
  height: 200px; 
  */
  /* left: 0;
  right: 0;
  margin: 0 auto; */
  /* top: 20px; */
/* } */
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  
}
.div-img .img {

  

  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  /* font-family: 'Open Sans'; */
  height: 60px;
  background-color:whitesmoke;
  /* padding-top: 5px; */
  display: block;
  text-align: center;
  width: 100%;
  transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  opacity: 0;
  transition: transfom opacity 1s;
}
.div-img:hover .img {
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgb(100, 97, 97);
  filter:brightness(0.8);


}
.div-img:hover .text {
  transform: translate(0px, -50px);
  opacity: 0.8;
  background-color:whitesmoke;

}


.vermas{
         
  max-width: 50%;
  background-color:rgb(243, 97, 39);
  margin-top: 0;
  margin:auto;
  /* font-size: 30px; */
  line-height: 4vh;
  opacity: 1;
}   

.vermas:hover{

        background-color: rgb(252, 73, 2);
        max-width: 100%;
        font-weight: bold;
        opacity: 1;

}

a{
  text-decoration: none;
}


/* -------------------------------------------@media query------------------------------------ */
 

@media only screen and (max-width: 573px){

  /* img{

    width: 97vw;
  
   } */
   .div-img {
     width: 97vw;
    
  }

}




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 574px)and (max-width: 768px){

  /* img{

    width: 40vw;
  
   } */

   .div-img .text {
   
    height: 40px;
  
   }

   .div-img:hover .text {
    transform: translate(0px, -40px);
   
  
  }



.material-icons {

  font-size: 25px;  

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



  
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px) {

  
  /* img{

    width: 30vw;
  
   } */


   .div-img .text {
   
    height: 10px;
  
   }

   .div-img:hover .text {
    transform: translate(0px, -40px);
   
  
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}




