

   <div class="flex-container">
       
       <div class="d-flex flex-row flex-wrap   align-items-center justify-content-around ">
            
          <div   *ngFor = "let producto of arrayProductos, index as i" >
 
         

             <img  [src]="producto.img" alt="producto" >
          
              
                <h3 class="nombre" id='font'>{{producto.nombre}}</h3>
   
                   <span  id='font'>$ {{producto.precio}}</span>
                   
                 
                
               
            
              
              <div>
                 <a   [routerLink]="['/verdetalle',i]" >
                 <p class="vermas text-center text-white" id='font'>VER <b>MÁS </b> </p> 
                 </a> 
                </div>
               
                <div>
                  <a  routerLink="/carrito"  (click)="addBook(producto)" >
                   <span class="material-icons"  >  shopping_cart </span>
                </a> 
                 </div>
   
          </div>
     
     </div>
     
    </div>