@font-face {
  font-family:'ribeye';
  src: url(/assets/font/Ribeye-Regular.ttf);
   
}

   


/* -------------------------------------------@media query------------------------------------ */
 

@media only screen and (max-width: 573px){


    
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97vw;
    
  }
  .div-img .img {
   
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .div-img:hover .img {
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgb(100, 97, 97);
    filter:brightness(0.8);
    
  }


  .div-img .text {
    height: 40px;
    background-color:whitesmoke;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1s;
    font-family:'ribeye';
    font-size: 4.2vw;
  }

  .div-img .text #nombre{
    margin-bottom: 19px;
  }

  
  .div-img:hover .text {
    transform: translate(0px, -40px);
    opacity: 0.8;
    background-color:whitesmoke;
    font-family:'ribeye';
    font-size: 4.5vw;
  
  }
  
  
  .vermas{
    transform: translate(0px, -21px);      
    max-width: 50%;
    background-color:rgb(243, 97, 39);
    margin-top: 0px;
    margin:auto;
    line-height: 5vw;
    opacity: 1;
    font-family:'ribeye';
    font-size: 4.2vw;
  
  }   
  
  .vermas:hover{
  
          background-color: rgb(252, 73, 2);
          max-width: 100%;
          font-weight: bold;
          opacity: 1;
          margin-top: 0px;
  
  }
  .vermas b{
    font-size: 3.7vw;
  }
  
  a{
    text-decoration: none;
  }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 574px)and (max-width: 767px){



    
  .div-img {
  
    width: 47vw;
    
  }
  .div-img .img {
   
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .div-img:hover .img {
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgb(100, 97, 97);
    filter:brightness(0.8);
    
  }


  .div-img .text {
    height: 42px;
    background-color:whitesmoke;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1s;
    font-family:'ribeye';
    font-size: 2.5vw;
  }

  .div-img .text #nombre{
    margin-bottom: 17px;
  }

  
  .div-img:hover .text {
    transform: translate(0px, -43px);
    opacity: 0.8;
    background-color:whitesmoke;
    font-family:'ribeye';
    font-size: 2.5vw;
  
  }
  
  
  .vermas{
    transform: translate(0px, -17px);      
    max-width: 50%;
    background-color:rgb(243, 97, 39);
    margin-top: 0px;
    margin:auto;
    line-height: 2.6vw;
    opacity: 1;
    font-family:'ribeye';
    font-size: 2.5vw;
  }   
  
  .vermas:hover{
  
          background-color: rgb(252, 73, 2);
          max-width: 100%;
          font-weight: bold;
          opacity: 1;
          margin-top: 0px;
  
  }
  .vermas b{
    font-size: 1.8vw;
  }
  
  a{
    text-decoration: none;
  }

  
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)and (max-width: 1024px) {

  .div-img {
  
    width: 30vw;
    
  }
  .div-img .img {
   
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .div-img:hover .img {
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgb(100, 97, 97);
    filter:brightness(0.8);
    
  }


  .div-img .text {
    height: 47px;
    background-color:whitesmoke;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1s;
    font-family:'ribeye';
    font-size: 2.2vw;
  }

  .div-img .text #nombre{
    margin-bottom: 14px;
  }

  
  .div-img:hover .text {
    transform: translate(0px, -45px);
    opacity: 0.8;
    background-color:whitesmoke;
    font-family:'ribeye';
    font-size: 1.6vw;
  
  }
  
  
  .vermas{
    transform: translate(0px, -10px);      
    max-width: 50%;
    background-color:rgb(243, 97, 39);
    margin-top: 0px;
    margin:auto;
    line-height: 1.8vw;
    opacity: 1;

  }   
  .vermas b{
    font-size: 1.3vw;
  }
  
  .vermas:hover{
  
          background-color: rgb(252, 73, 2);
          max-width: 100%;
          font-weight: bold;
          opacity: 1;
          margin-top: 0px;
  
  }
 
  
  a{
    text-decoration: none;
  }




  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
  
  
    
  
  
  .div-img {
  
    width: 23vw;
    
  }
  .div-img .img {
   
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .div-img:hover .img {
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgb(100, 97, 97);
    filter:brightness(0.8);
    
  }


  .div-img .text {
    height: 47px;
    background-color:whitesmoke;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1s;
    font-family:'ribeye';
    font-size: 1.4vw;
  }

  .div-img .text #nombre{
    margin-bottom: 14px;
  }

  
  .div-img:hover .text {
    transform: translate(0px, -45px);
    opacity: 0.8;
    background-color:whitesmoke;
    font-family:'ribeye';
    font-size: 1.4vw;
  
  }
  
  
  .vermas{
    transform: translate(0px, -14px);      
    max-width: 50%;
    background-color:rgb(243, 97, 39);
    margin-top: 0px;
    margin:auto;
    line-height: 1.8vw;
    opacity: 1;
    font-family:'ribeye';
    font-size: 1.4vw;
  

  }   
  
  .vermas:hover{
  
          background-color: rgb(252, 73, 2);
          max-width: 100%;
          font-weight: bold;
          opacity: 1;
          margin-top: 0px;
  
  }
  .vermas b{
    font-size: 1.3vw;
  }
  
  a{
    text-decoration: none;
  }



}




