

   <div class="flex-container" id='font'>
       
       <div class="d-flex flex-row flex-wrap   align-items-center justify-content-around ">
            
          <div class=" div-img text-center mt-5"  *ngFor = "let producto of arrayProductos, index as i" >
 
         
           
             <img class="img" [src]="producto.img" alt="producto" >
          
              
                                      
            
              
              <div class="text" id="font">
               <p  >{{producto.nombre}} $ {{producto.precio}}</p>
   
            
                 <a   [routerLink]="['/verdetalle',i]" >
                 <p class="vermas text-center text-white" >VER <b>MÁS </b> </p> 
                 </a> 
             
                 </div>
   
          </div>
     
     </div>
     
    </div>



