
   label {
    width: 50%;
    border: 1px;
  } 
  
 

  @font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }
  
  #font{
    font-family:'ribeye';
    font-size: 16px;
 
  }