@font-face {
  font-family:'ribeye';
  src: url(/assets/font/Ribeye-Regular.ttf);
   
}


 .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.material-icons:hover{

    color:red;
   
  
}

.carrito {

  
  background-image: linear-gradient(90deg, darkorange, rgb(243, 180, 104));
  width: 99%;
  height: 25vw; 
  display: flex;
  align-items:center;
  justify-content: center;
  text-shadow: 1px 1px 2px rgb(219, 219, 219); 
  font-family: 'ribeye';
  color: white;
  box-shadow: 2px 2px 4px rgb(134, 110, 81);
}

.font{
  font-family: 'ribeye';
}



input{
        width: 7vh; 
        font-family:'ribeye';
        font-size: 3vh;
        border-color:rgb(255, 255, 254);
}

.precio b{
  font-family: 'ribeye';
  font-size: 3.7vw;
}

.row.font{
  font-size: 2vw;
}

img{

  
  width: 100%;
}

.keepbuy{
  background-image: linear-gradient(30deg, rgb(17, 0, 255),rgb(114, 104, 255));
  font-family: 'ribeye';
  font-size: 5vw;
  line-height: 3vw;
  box-shadow: 3px 3px 7px rgb(108, 108, 150);
}
.buy{
  background-image: linear-gradient(30deg,rgb(9, 145, 9) ,rgb(44, 138, 44));
  font-family:'ribeye' ;
  font-size: 1.7vw;
  line-height: 2.6vw;
  box-shadow: 3px 3px 7px rgb(2, 63, 12);
}
/* ---------------------------------------@media------------------------------------------ */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {



 .material-icons {
  
  font-size: 30px;  /* Preferred icon size */
  
  line-height: 1;
 }

 .carrito {
   font-size: 5.2vw;  
   height: 10vw; 
 
  
}
.font{
  font-size: 4.5vw;
  
}

h2{
  font-family: 'ribeye';
  font-size: 4vw;
}
.keepbuy{

  font-size: 3.6vw;
 
}
.buy{
  font-size: 3.6vw;
  line-height: 3.6vw;
}

.row.font{
  font-size: 4vw;
}

input{
 
  font-size: 2.6vh;

}

}
  

  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 575px) and (max-width: 768px) {

    .material-icons {
  
      font-size: 30px;  /* Preferred icon size */
      
      line-height: 1;
     }
    
     .carrito {
       font-size: 4.5vw;  
       height: 9vw; 
     
      
    }
    .font{
      font-size: 3.7vw;
      
    }
    
   
    .keepbuy{
    
      font-size: 3.2vw;
     
    }
    .precio b{
  
      font-size: 3vw;
    }

    .buy{
      font-size: 3.2vw;
      line-height: 2.6vw;
    }
    .row.font{
      font-size: 3vw;
    }
   

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 769px) and (min-width: 1024px){


    .material-icons {
  
      font-size: 30px;  /* Preferred icon size */
      
      line-height: 1;
     }
    
     .carrito {
       font-size: 2.9vw;  
       height: 7vw; 
     
      
    }
    .font{
      font-size: 2.1vw;
      
    }
    

    .keepbuy{
    
      font-size: 1.7vw;
      line-height: 2.6vw;
     
    }
    .buy{
      font-size: 1.7vw;
      line-height: 2.6vw;
    }
    .precio b{
  
      font-size: 1.6vw;
    }
    .row.font{
      font-size: 2vw;
    }

  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1025px) {
   
    .material-icons {
  
      font-size: 30px;  /* Preferred icon size */
      
      line-height: 1;
     }
    
     .carrito {
       font-size: 2.6vw;  
       height: 5.5vw; 
     
      
    }
    .font{
      font-size: 2vw;
      
    }
    

    .keepbuy{
    
      font-size: 1.7vw;
      line-height: 2.6vw;
     
    }
    .buy{
      font-size: 1.7vw;
      line-height: 2.6vw;
    }
    .precio b{
  
      font-size: 1.6vw;
    }
    .row.font{
      font-size: 2vw;
    }

  }