

 .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.material-icons:hover{

    color:red;
  
}
/* @font-face{
  font-family: VivaBeautiful;
  src: url(/assets/font/VivaBeautiful.ttf) format("opentype");
} */

@font-face {
  font-family:'ribeye';
  src: url(/assets/font/Ribeye-Regular.ttf);
   
}

#font{
  font-family:'ribeye';
  font-size: 2vh;
}

 #font h2{
  font-size: 3vh;
}

#carrito{

  background-color: darkorange;
  width: 100%;
  text-align: center;
   
}
h6 {
  font-size: 3vh;
}

h2{
  font-size: 30vh;
}

input{
        width: 7vh; 
        font-family:'ribeye';
        font-size: 2vh;
        border-color:rgb(255, 255, 254);

        /* margin: 1vh; */
      
        /* align-items: center; */
}


#variables{

 
  font-family:'ribeye';
  font-size: 2vh;

}

img{

  
  width: 100%;
}

/* ---------------------------------------@media------------------------------------------ */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {



 .material-icons {
  
  font-size: 30px;  /* Preferred icon size */
  
  line-height: 1;
 }

 .variables{

  /* text-align: left;
  font-family:'ribeye'; */
  font-size: 1.5vh;

}
.precio{
    font-size: 2vh;
}

h2{
  font-size: 2.5vh;
}

}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1280px) {
   
  
  }