




  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="font">
    <div class="container-fluid">
    <a class="navbar-brand text-dark" routerLink="/inicio">Dulce Alma Deco</a>
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
    </button>
  
 
    <div class="collapse navbar-collapse text-center " id="navbarSupportedContent" >
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
      <li class="nav-item dropdown"  >
        <a class="nav-link dropdown-toggle text-dark navbarfont" href="#" 
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tienda 
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <li> <a class="dropdown-item" routerLink="../../fofacil" >Articulos Fibro Facil ({{numero}})</a></li>
          <li> <a class="dropdown-item" routerLink="../../sellos" >Sellos </a> </li>
          <li> <a class="dropdown-item" routerLink="../../stencil">Stencils</a> </li>
          <li> <a class="dropdown-item" routerLink="../../laminas">Laminas</a> </li>
          <li> <a class="dropdown-item" routerLink="../../accesorios">Accesorios</a> </li>
          <li> <a class="dropdown-item" routerLink="../../patiza">Pinturas a la tiza</a> </li>
          <li> <a class="dropdown-item" routerLink="../../acrilicos">Acrilicos</a> </li>
          <li> <hr class="dropdown-divider"></li>
          <li> <a class="dropdown-item" routerLink="/varios">Varios</a> </li>
        </ul> <!-- cierre dropdown-menu     -->
        </li> <!-- cierre nav-item dropdown     -->
          
        <li class="nav-item">
            <a class="nav-link text-dark" href="../../taller">Taller</a>
        </li>

          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="../../ubicacion">Contacto</a>
          </li>
        

            <div class="d-flex flex-row justify-content-center compra" >
            
                <div>
                  <a   routerLink="/carrito" >
                    <span class="material-icons float-end">shopping_cart </span>  
                </a>
             
              </div>


         

             
              <div class="mt-2" *ngFor="let line of cart.lines">
                <span  *ngIf="cart.lines.length != 0" 
                matBadge= "{{line.quantity}}" matBadgeOverlap="false" matBadgePosition="before" >   
                
              </span>  
              </div>

          </div>
      </ul>   <!-- cierre navbar-nav -->

      </div>
    </div> 

</nav>




