
@font-face {
  font-family:'ribeye';
  src: url(/assets/font/Ribeye-Regular.ttf);
   
}

  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 33px;  /* Preferred icon size */
    display: flex;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:rgb(110, 110, 108);
    margin-left: 14px;
    margin-top: 10px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  .material-icons:hover {
    color:rgb(248, 207, 180);
   
   
  }
  
  a{
  text-decoration: none;
  }


/* ------------------------------------@media------------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 574px) {
  
  .navbar{
    box-shadow: 5px 5px 10px rgb(100, 97, 97);
 

    
  }
  .navbar-collapse{
    transition: all 500ms linear;
  }

   #font .navbar-brand{
    font-family:'ribeye';
    font-size: 4.6vw;
 
   
  }
  

  .nav-item{
      transition: all 500ms linear;
   
      margin-top: 10px;
  }

  #font .nav-item{
    font-family:'ribeye';
    font-size: 4.5vw;
    
}

 #font .dropdown-menu{
    font-size: 4.5vw;
    width: 68vw;
    box-shadow: 5px 5px 10px rgb(100, 97, 97); 
 }

 .dropdown-item:hover{
  
  background-color: coral;
  font-weight: bold;
 
 }

  .material-icons{

    
    margin:auto;
    margin-top: 16px;

  }
  .material-icons:hover {
    color:rgb(248, 207, 180);
   
}

.mat-badge-content {
  background: red;
  color: rgb(249, 249, 252);
  width: 15px;
  height: 14px;
  line-height: 14px;
  margin-left: 5px;
  margin-top: 5px;
}


  
  
}
  

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 575px) and (max-width: 767px) {
  
    .navbar{
      box-shadow: 5px 5px 10px rgb(100, 97, 97);
  
      
    }

    #font .navbar-brand{
      font-family:'ribeye';
      font-size: 2.8vw;
   
     
    }
    
  
    .nav-item{
      
        margin-top: 10px;
    }
  
    #font .nav-item{
      font-family:'ribeye';
      font-size: 2.8vw;
      
  }
  
   #font .dropdown-menu{
      font-size: 2.8vw;
      width: 68vw;
      box-shadow: 5px 5px 10px rgb(100, 97, 97); 
   }
  
   .dropdown-item:hover{
    
    background-color: coral;
    font-weight: bold;
   
   }
  
   
  
  .mat-badge-content {
    background: red;
    color: rgb(249, 249, 252);
    width: 15px;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 33px;  /* Preferred icon size */
    display: flex;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:rgb(110, 110, 108);
    margin-left: 14px;
    margin-top: 10px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  .material-icons:hover {
    color:rgb(248, 207, 180);
   
   
  }
  
  a{
  text-decoration: none;
  }
  

  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .navbar{
      box-shadow: 5px 5px 10px rgb(100, 97, 97);
      margin-top: 2vw;
  
      
    }
    #font .navbar-brand{
      font-family:'ribeye';
      font-size: 2.8vw;
      color: coral;
      font-weight: bold;
   
     
    }
    .navbar-nav{
      margin-left: 32vw;
    }
  
    .nav-item{
     
         margin-top: 10px;
    }
  
    #font .nav-item{
      font-family:'ribeye';
      font-size: 2vw;
      margin-top: 0.93vw;
      
  }
  
   #font .dropdown-menu{
      font-size: 2vw;
      width: 30vw;
      box-shadow: 5px 5px 10px rgb(100, 97, 97); 
   }
  
   .dropdown-item:hover{
    
    background-color: coral;
    font-weight: bold;
   
   }
  
  
    .material-icons:hover {
      color:rgb(248, 207, 180);
     
  }
  
  .mat-badge-content {
    background: red;
    color: rgb(249, 249, 252);
    width: 15px;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
  

/* Extra Large devices (laptops/desktops, 1280px and up) */ 
@media only screen and (min-width: 1025px) {
  
  .navbar{
    box-shadow: 5px 5px 10px rgb(100, 97, 97);

    
  }
  
  #font .navbar-brand{
    font-family:'ribeye';
    font-size: 2vw;
 
   
  }


#font .nav-item{
font-family:'ribeye';
font-size: 1.8vw;
margin-top: 0.5vw;
}




#font .dropdown-menu{
  font-family:'ribeye';
  font-size: 1.6vw;
  width: 30vw;
  box-shadow: 5px 5px 10px rgb(100, 97, 97); 
}



}