


#font{
  font-family:'cream';
  font-size: 2.7vh;
}


.navbar{
    background-color:white;
    width: 100vw;
    
     
  }
  
  .navbar:hover{
    background-color:coral;
   
    

  }


  .nav-item{
    
    margin-top: 10px;
  }
  
  .nav-item:hover{
  
  
    font-weight: bold;
      
  }
  
 .dropdown-menu{

    width: 25vw;
 }
  .dropdown-item:hover{
  
      background-color: coral;
      font-weight: bold;
  
     }
  
         


  .mat-badge-content {
    background: red;
    color: rgb(249, 249, 252);
    font-weight:bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 33px;  /* Preferred icon size */
    display: flex;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color:rgb(110, 110, 108);
    margin-left: 14px;
    margin-top: 10px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons:hover {
    color:rgb(248, 207, 180);
   
   
}

a{
  text-decoration: none;
}


.fa-1x {
  font-size: 26px !important;
  float:right;
  margin-right: 16px;
  margin-top: 25px;
  color:rgb(110, 110, 108);
}

.fa-1x:hover {
  font-size: 26px !important;
  margin-top: 25px;
  color:white;
}


/* ------------------------------------@media------------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 574px) {


  .nav-item{
    
      margin-top: 10px;
  }

  .dropdown-menu{

    width: 68vw;
 }

 .dropdown-item:hover{
  
  background-color: coral;
  font-weight: bold;
 
 }

  .material-icons{

    
    margin:auto;
    margin-top: 16px;

  }
  .material-icons:hover {
    color:rgb(248, 207, 180);
   
}

.mat-badge-content {
  background: red;
  color: rgb(249, 249, 252);
  width: 15px;
  height: 14px;
  line-height: 14px;
  margin-left: 5px;
  margin-top: 5px;
}


  
  
}
  

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 575px) and (max-width: 767px) {
  

    .nav-item{
    
      font-family:'cream';
      font-size: 4vh;
    }

  

    .dropdown-menu{
    
    
      width: 40vw;
   }


  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 768px) and (max-width: 992px) {

    .nav-item{
    
      font-family:'cream';
      font-size: 2.5vh;
    }

  

    .dropdown-menu{
    
    
      width: 40vw;
   }

  
  }
  
