#fotos{
      
    height: 100%;

  }

.carousel {

width: 100vw;
padding: 1px;

}

.carousel-item{

    height: 32rem;
    background: rgb(63, 47, 47);
    color:rgb(255, 251, 251);
    position:relative;
    background-size: cover;


}

.container{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  /* opacity:0.5; */



}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 574px) {

  .carousel{

    display: none;
  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 575px)and  (max-width: 768px) {
       
/* img{
       
       width:100% ;

} */
.carousel{

  display: none;

}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px)and (max-width: 992px){
  .carousel{

    display: none;
  
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {

       /* #font{
              font-family:'ribeye';
              font-size: 3vh;
            
            } */
            /* .carousel{

              display: none;
            
            }    */

}



