

<div class="container d-flex  justify-content-between " >
      <div class="title" >
        <div >
        <p id="a">Encontranos aca!!</p>
        <p ><span id="map"><i class="fas fa-map-marker-alt"></i></span>Italia 1820,
                  Realicó. La Pampa</p>
      </div>
        
        <div>

          <p ><span id="envelope"> <i class="fa fa-envelope"></i></span> katy_barrozzo99@gmail.com</p>

          <p> <span id="whatsapp"><i class="fab fa-whatsapp fa-3x" ></i></span>
              2302 41 6035
          </p>

        </div>
      </div>        
      
      
        <div class="div-img">
             
       
              <img class="img" src="assets/ubicacion.jpg">
               
     
            <div class="text" id="font">
 

            <a target="_blank" href="https://maps.app.goo.gl/H3YT6CxXBMM2hCbV6">
            <p class="vermas text-center text-white" > <b> < Ver en GOOGLE MAP > </b> </p> 
            </a> 
        </div>
      </div>
 

     

</div>







 
  


