
<br>
<div class="container" id="font">

    <div class="d-flex flex-column justify-content-around "  >
              
      <div class="div-img">
             
       
                    <img class="img" src="assets/ubicacion.jpg">
                     
     
            <div class="text" id="font">
 

            <a target="_blank" href="https://maps.app.goo.gl/H3YT6CxXBMM2hCbV6">
            <p class="vermas text-center text-white" > <b>Ver en GOOGLE MAP </b> </p> 
            </a> 
        </div>
      </div>
  </div>

</div>