

<div class="container d-flex   justify-content-around ">
  <!-- align-items-center -->
      <div class="title" >
        <div >
        <p id="a">Encontranos aca!!</p>
        <p ><span id="map"><i class="fas fa-map-marker-alt"></i></span>Italia 1820,
                  Realicó. La Pampa</p>
      </div>
        
        <div>

          <p ><span id="envelope"> <i class="fa fa-envelope"></i></span> katy_barrozzo99@gmail.com</p>

          <p> <span id="whatsapp"><i class="fab fa-whatsapp fa-3x" ></i></span>
              <!-- <span id="mobile"> <i class="fas fa-mobile"></i></span> -->
              2302 41 6035
          </p>

          <!-- <p ><span class="fa fa-mobile"></span><span class="fab fa-whatsapp"></span> 2302 41 6035</p> -->
        </div>
      </div>        
      
      
        <div class="div-img">
             
       
              <img class="img" src="assets/ubicacion.jpg">
               
     
            <div class="text" id="font">
 

            <a target="_blank" href="https://maps.app.goo.gl/H3YT6CxXBMM2hCbV6">
            <p class="vermas text-center text-white" > <b> < Ver en GOOGLE MAP > </b> </p> 
            </a> 
        </div>
      </div>
 

     

</div>

<!-- <div class="form_wrap" id="font">

       <form  (ngSubmit)="contactForm(form.value)" #form="ngForm" id="form" class="form_contact" id="font"> 
    
      <h2>Procesar Compra</h2>
   
      

      
   
     
          <label>Nombres *</label>
          <input type="text"  class="form-control" name="nombre" ngModel >

          <label>Telefono / Celular *</label>
          <input type="number" class="form-control" name="cel" ngModel >

          <label>Correo electronico *</label>
          <input type="email" class="form-control" name="email" ngModel >

         

       
              <br>
           

                         
          <label class="mt-5">Mensaje *</label>
          <textarea class="form-control" name="mensaje"  ngModel></textarea>

          <button type="submit" disabled={{clicked}} class="btn btn-xs btn-sm btn-success" id="font">Enviar </button>
       
          <button class="btn btn-primary  btn-xs btn-sm m-1" id="font"  
              (click)="onCloseSeguir()">
              Volver

            </button>
   


  </form>

          
</div> -->







 
  


