
 

     .flex-container{
            
       margin-top: 6vw;
}



       @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
       
       figure.snip0015 {
         font-family: 'Raleway', Arial, sans-serif;
         color: #fff;
         position: relative;
         overflow: hidden;
         width: 97vw;
         background: #000000;
         text-align: center;
       }
       figure.snip0015 * {
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
       }
       figure.snip0015 img {
         opacity: 1;
         width: 100vw;
         -webkit-transition: opacity 0.35s;
         transition: opacity 0.35s;
       }
       figure.snip0015 figcaption {
         position: absolute;
         bottom: 0;
         left: 0;
         padding: 15vw 15vw;
         width: 97vw;
         height: 100%;
       }
       figure.snip0015 figcaption::before {
         position: absolute;
         top: 50%;
         right: 30px;
         bottom: 50%;
         left: 30px;
         border-top: 1px solid rgba(255, 255, 255, 0.8);
         border-bottom: 1px solid rgba(255, 255, 255, 0.8);
         content: '';
         opacity: 0;
         background-color: #ffffff;
         -webkit-transition: all 0.4s;
         transition: all 0.4s;
         -webkit-transition-delay: 0.6s;
         transition-delay: 0.6s;
       }
       figure.snip0015 h2,
       figure.snip0015 p {
         margin: 0 0 5px;
         opacity: 0;
         -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
         transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
       }
       figure.snip0015 h2 {
         word-spacing: -0.15em;
         font-weight: 300;
         text-transform: uppercase;
         -webkit-transform: translate3d(0%, 50%, 0);
         transform: translate3d(0%, 50%, 0);
         -webkit-transition-delay: 0.3s;
         transition-delay: 0.3s;
      
       }
       figure.snip0015 h2 span {
         font-weight: 800;
         font-size: 3vw;
       }
       figure.snip0015 p {
         font-weight: 200	;
         -webkit-transition-delay: 0s;
         transition-delay: 0s;
         font-size: 4vw;
       }
       figure.snip0015 p.precio {
          
              font-size: 5vw;
            }
       figure.snip0015 a {
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         position: absolute;
         color: #ffffff;
       }
       figure.snip0015:hover img {
         opacity: 0.6;
       }
       figure.snip0015:hover figcaption h2 {
         opacity: 1;
         -webkit-transform: translate3d(0%, 0%, 0);
         transform: translate3d(0%, 0%, 0);
         -webkit-transition-delay: 0.3s;
         transition-delay: 0.3s;
       }
       figure.snip0015:hover figcaption p {
         opacity: 0.9;
         -webkit-transition-delay: 0.6s;
         transition-delay: 0.6s;
       }
       figure.snip0015:hover figcaption::before {
         background: rgba(255, 255, 255, 0);
         top: 30px;
         bottom: 30px;
         opacity: 1;
         -webkit-transition-delay: 0s;
         transition-delay: 0s;
       }







/* ----------------------------------------@media----------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 574px) {


  figure.snip0015:hover figcaption::before {
   
    top: 10vw;
    bottom: 10vw;

  }
  figure.snip0015 p {
           
    font-size: 4vw;
    margin-top: 1.5vw;
  }
  figure.snip0015 p.precio {
     margin-top: 4.5vw;
     font-size: 5vw;
 }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 575px)and  (max-width: 768px) {

       figure.snip0015 h2 span {
           
              font-size: 3vw;
          
            }
            figure.snip0015 p {
              margin-top: 1.5vw;
              font-size: 2.6vw;
            }
            figure.snip0015 p.precio {
              margin-top: 3.5vw;
              font-size: 5vw;
           }

       figure.snip0015 {
             
              width: 80vw;
         
       }
       figure.snip0015 img {
             
              width: 80vw;
         
       }
       figure.snip0015 figcaption {
            
              width: 80vw;
           
      }
      figure.snip0015:hover figcaption::before {
   
        top: 9vw;
        bottom: 9vw;
  
      }
     

}

@media only screen and (min-width: 769px)and  (max-width: 1024px) {

       figure.snip0015 h2 span {
           
              font-size: 3vw;
          
            }
            figure.snip0015 p {
           
              font-size: 2vw;
              margin-top: 2vw;
            }
            figure.snip0015 p.precio {
               margin-top: 5vw;
               font-size: 3vw;
           }

       figure.snip0015 {
             
              width: 70vw;
         
       }
       figure.snip0015 img {
             
              width: 70vw;
         
       }
       figure.snip0015 figcaption {
            
              width: 70vw;
              padding: 20vwvw 25vw;
           
       }
       figure.snip0015:hover figcaption::before {
   
        top: 8vw;
        bottom: 8vw;
  
      }

       
    
}

@media only screen and (min-width: 1025px) {

       figure.snip0015 h2 span {
           
              font-size: 3vw;
          
            }
            figure.snip0015 p {
           
              font-size: 1.8vw;
              margin-top: 1.5vw;
            }
            figure.snip0015 p.precio {
               
               font-size: 2.8vw;
               margin-top: 2vw;
           }

       figure.snip0015 {
             
              width: 70vw;
         
       }
       figure.snip0015 img {
             
              width: 70vw;
         
       }
       figure.snip0015 figcaption {
            
              width: 70vw;
           
        }
        figure.snip0015:hover figcaption::before {
   
          top: 10vw;
          bottom: 10vw;
    
        }

       
}