        


 <div class="flex-container" id="font">

  <div class="d-flex flex-column justify-content-around flex-md-column flex-lg-row flex-xl-row"  >
            
    <div class="text-center" >
           
      <!-- <img [src]="arrProductos.['img']" alt="" > -->
                   
    </div>
   

   
    <div class="text-left">
      <br>
      <h3>{{arrProductos['nombre']}}</h3>
    <br>
    <p> MEDIDAS: 30 x 20 cm </p>
     <p> OBSERVACIONES: Vidrio opcional</p>
  
   <br>
     <br>
      <p>Precio: $ {{arrProductos['precio']}}</p>

      <a routerLink="../../carrito"> <span class="material-icons " (click)="addBook(arrProductos)" >
          shopping_cart  </span> </a> 
    </div> 
    
    
   
 </div>
</div> 


  