
 @font-face {
       font-family:'ribeye';
       src: url(/assets/font/Ribeye-Regular.ttf);
        
     }


/* ----------------------------------------@media----------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 574px) {

    
button{

       box-shadow: 5px 5px 10px rgb(100, 97, 97);
}   

button:hover{

       opacity: 0.9;
} 
    




img{

       width:97vw ;
}

img:hover{

       box-shadow: 5px 5px 10px rgb(100, 97, 97);

}


.flex-container{
     
       margin-top: 20px;
}
.justificar{
       padding: 4vw;
    
       
}


#font{
       font-family:'ribeye';
       font-size: 4vw;
    
    }

.precio{
       font-size: 5vw;
}

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 575px)and  (max-width: 768px) {
       
       button{

              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       }   
       
       button:hover{
       
              opacity: 0.9;
       } 
       
             
       img{
       
              width:85vw ;
       }
       
       img:hover{
       
              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       
       }
       
       
       .flex-container{
            
              margin-top: 6vw;
       }

       .justificar{
              padding: 8vw;
           
              
       }
       
        
       
       
       #font{
              font-family:'ribeye';
              font-size: 3.2vw;
           
           }
       
       .precio{
              font-size: 5vw;
       }

}

@media only screen and (min-width: 769px)and  (max-width: 1024px) {
       
       button{

              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       }   
       
       button:hover{
       
              opacity: 0.9;
       } 
       
             
       img{
       
              width:55vw ;
       }
       
       img:hover{
       
              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       
       }
       
       
       .flex-container{
            
              margin-top: 6vw;
       }

               
       
       #font{
              font-family:'ribeye';
              font-size: 1.9vw;
           
           }
       
       .precio{
              font-size: 3.5vw;
       }

}

@media only screen and (min-width: 1025px) {
       
       button{

              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       }   
       
       button:hover{
       
              opacity: 0.9;
       } 
       
             
       img{
       
              width:55vw ;
       }
       
       img:hover{
       
              box-shadow: 5px 5px 10px rgb(100, 97, 97);
       
       }
       
       
       .flex-container{
            
              margin-top: 6vw;
       }

               
       
       #font{
              font-family:'ribeye';
              font-size: 1.6vw;
           
           }
       
       .precio{
              font-size: 2.3vw;
       }

}
