

@font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }
  
  #font{

    font-family:'ribeye';
    font-size: 3vh;
  
  
  }


  

  
  /* FORMULARIO =================================== */
  
  .form_wrap{
      width: 90%;
      height: 98%;
      margin: 10px auto;
      display: flex;
  
      background: #fff;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 0px 0px 30px rgba(5, 5, 5, 0.2);
  }
  
  /* Informacion de Contacto*/
  
  .cantact_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      background:rgb(252, 196, 128);
      opacity: 0.7;
  }
  
  .cantact_info{
      width: 38%;
      position: relative;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      background-image: url('../../../assets/fondonegocio.jpg');
      background-size: cover;
      background-position: center center;
  
  }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: rgb(255, 255, 255);
  }
  
  .info_title{
      margin-bottom: 60px;
  }
  
  .info_title span{
      font-size: 5vh;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .info_title h2{
      font-size: 5vh;
      text-align: center;
  }
  
  .info_items p{
      display: flex;
      align-items: center;
      font-size: 2.5vh;
      font-weight: 400;
      margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
      font-size: 16px;
      margin-right: 10px;
      margin-left: 3px;
  }
  
  .info_items p:nth-child(2) span{
      font-size: 16px;
      margin-right: 5px;
      margin-left: 4px;
  }


  
  
  /* Formulario de contacto*/
  form.form_contact{
      width: 62%;
      padding: 30px 40px;
  }
  
  form.form_contact h2{
      font-size: 25px;
      font-weight: 300;
      color: #303030;
      margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
  }
  
  form.form_contact label{
      font-weight: 450;
  }
  
  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      padding: 8px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
  }
  

  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
  
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
      /* float: right; */
  }
  


/* -----------------------------------------------------@media-------------------------------------------  */
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 574px) {
    
  
        
        .contact_xs{

            display:block;
        }

        .contact_xs h2{

            font-family:'ribeye';
            font-size: 2vh;
            margin-top: 15px;
            margin-left: 10px;
        }

        .contact_xs  .fa-whatsapp  {

            margin-left: 10px;
        }

        .contact_xs .fa-mobile{
            margin-left: 10px;
        }

        .contact_xs .fa-envelope{
            margin-left: 10px;
        }

        .contact_xs{

            width: 99vw;
            height: 22vh;
            margin-top: 10px;
          }


        .form_wrap{

            width: 99%;
            height: 90%;

        }

        .info_title{
            margin-bottom: 60px;
            display: none;
        }

        .info_title,
        .info_items{
            display: none;
        }
        
        #font{

            font-family:'ribeye';
            font-size: 2vh;
          
          
          }

        
       
    }
    
    /* Medium devices (landscape tablets, 768px and up) */

   
    @media only screen and (min-width: 575px) and (max-width: 768px){
    
        .info_items p{
            display: flex;
            align-items: center;
            font-size: 3.5vh;
            font-weight: 400;
            margin-bottom: 10px;
        }
        
        .contact_xs{
            width: 99%;
            height: 98%;
            margin-top: 10px;
            display: flex;
            display: none;
                
         
        }

        .form_wrap{

            width: 99%;
            height: 90%;

        }

        #font{

            font-family:'ribeye';
            font-size: 4vh;
          
          
          }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 769px) and (max-width: 992px) {
       
        .contact_xs{

            display: none;
        }
        #font{

            font-family:'ribeye';
            font-size: 4vh;
          
          
          }
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 993px) and (max-width: 3000px){
     
        .contact_xs{

            display: none;
        }
    }