
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



@font-face {
    font-family: Cream,Wandita,Darcy,fontawesome,Decorate;
    src: url(/assets/font/Cream\ Black\ Italic.ttf) ;
    src: url(/assets/font/Wandita.ttf) format("opentype");
    src: url(/assets/font/Darcy.ttf) format("opentype");
    src: url(/assets/font/fontawesome-webfont.ttf) format("opentype");
    src: url(/assets/font/Decorate.ttf) format("opentype");

}


body{
    background-color: rgb(245, 227, 220);
    /* overflow-x: hidden; */
  

    


    /* margin-bottom: 10vw;   
    position: bottom; */
     
}

/* -------------------------------------------@media query------------------------------------ */
 

@media only screen and (max-width: 573px){

    /* body{
     
        margin-bottom: 10vw;   
         
    } */

}
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 574px)and (max-width: 767px){
  

    /* body{
     
        margin-bottom: 50vw;   
         
    }
     */
  }
   
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)and (max-width: 992px) {
    /* body{
     
        margin-bottom: 20vw;   
         
    } */
      
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
    /* body{
     
        margin-bottom: 50vw;   
         
    } */
  }
  
  
  
  
  

