@font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }

 
  .transition {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
  }
  .flex-container {
   
    
    width: 30vw;
    height: 30vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
  }
  .div-img {
    margin-top: 15vw;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .div-img .img {
   
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img .text {
    font-family: 'ribeye';
    font-size: 2vh;
    position: relative;
    z-index: -1;
    display: block;
    bottom: 50px;
    width: 100%;
    text-align: center;
    -webkit-transform: 0px 0px 1;
    -moz-transform: 0px 0px 1;
    -ms-transform: 0px 0px 1;
    -o-transform: 0px 0px 1;
    transform: 0px 0px 1;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img {
    -webkit-transform: 0px -30px 0.5;
    -moz-transform: 0px -30px 0.5;
    -ms-transform: 0px -30px 0.5;
    -o-transform: 0px -30px 0.5;
    transform: 0px -30px 0.5;
    transform: translate(0px, -30px) scale(0.5);
    -webkit-transform: translate(0px, -30px) scale(0.5);
    -moz-transform: translate(0px, -30px) scale(0.5);
    -o-transform: translate(0px, -30px) scale(0.5);
    -ms-transform: translate(0px, -30px) scale(0.5);
    border-radius: 20%;
  }
  .div-img:hover .text {
    -webkit-transform: 0px 0px 2;
    -moz-transform: 0px 0px 2;
    -ms-transform: 0px 0px 2;
    -o-transform: 0px 0px 2;
    transform: 0px 0px 2;
    transform: translate(0px, 0px) scale(2);
    -webkit-transform: translate(0px, 0px) scale(1.5);
    -moz-transform: translate(0px, 0px) scale(2);
    -o-transform: translate(0px, 0px) scale(2);
    -ms-transform: translate(0px, 0px) scale(2);
  }



  /* -------------------------------------------@media query------------------------------------ */
 

@media only screen and (max-width: 573px){

    .div-img .img {
      
        width: 50vw;
    }
  
  
  
  .div-img:hover .text {
   
    -webkit-transform: translate(0px, 0px) scale(1.5);
  }

  }
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 574px)and (max-width: 767px){
  
    .div-img .img {
      
      width: 30vw;
  }



  .div-img:hover .text {
   
    -webkit-transform: translate(0px, 0px) scale(1.5);
    font-family: 'ribeye';
    font-size: 3vh;

  }


    
  }
  
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)and (max-width: 992px) {
  
    .div-img .img {
      
      width: 30w;
  }

  .div-img .text {
    font-family: 'ribeye';
    font-size: 1.8vh;
    
  }



.div-img:hover .text {
 
  -webkit-transform: translate(0px, 0px) scale(1.5);
}
  
      
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {


  
  }
  
  
  
  
  